@page
@model PrivacyModel
@{
    ViewData["Title"] = "Personvernerklæring";
}

<h1>@ViewData["Title"]</h1>

<p>
    Mer informasjon vil bli lagt til på senere tidspunkt
</p>
<p>
    Værdata hentes fra <a href="https://api.met.no/" target="_blank">MET API</a> og brukes i henhold til deres retningslinjer.
</p>

<p>
    Har du spørsmål, kontakt <a href="mailto:alex@proweb.no">alex@proweb.no</a>.
</p>
